.menu-catalogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton-catalogo {
    flex: 1;
}

#boton-filtros {
    display: none;
    background-color: $background-color_articulo-catalogo;
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px 9px;

    img {
        height: 1.0rem;
        margin-right: 6px;
    }
}

#boton-ordenar {
    display: flex;
    justify-content: flex-end;
}

.boton-padding {
    padding: 3px 8px;
}

.menu-catalogo-font {
    font-size: 1.0831rem;
    font-family: $tipografia-principal;
}

#menu-paginas-superior {
    flex: 1;
}

.menu-paginas {
    display: flex;
    justify-content: center;

    li {
        display: inline-block;
        text-align: center;
        margin: 0 10px 0 0;
    }
}

#catalogo {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px 6%;

    section {
        width: 85vw;
    }
}

.articulo-catalogo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    background-color: $background-color_articulo-catalogo;
    transition: all 0.4s;

    &:hover {
        transform: scale(1.1);
    }

    img {
        max-width: 100%;
        object-fit: cover;
        height: 75%;
    }
}

.productos-catalogo {
    margin: 1.5vw 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
}

.articulo-descripcion {
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h6 {
        padding: 0;
        margin: 0;
    }

    p {
        padding: 0;
        margin: 0;
    }
}

.articulo-comprar {
    display: none;
}

.filtros-catalogo {
    font-size: 1rem;
    width: 15vw;
    margin-right: 20px;
    text-align: left;
    line-height: 1.8;
}

.filtros-tipos {
    margin-bottom: 25px;
    margin-right: 25px;

    ul {
        margin-left: 10px;
    }
}

.main-links-hover {
    li {
        &:hover {
            opacity: 65%;
            color: $color_hover-links;
        }
    }
}

.titulo-categoria {
    margin: auto;
    text-align: center;
}