* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    @include titulo(2.1rem);
}

h2 {
    @include titulo(1.5rem);
}

h3 {
    @include titulo(1.17rem);
}

h4 {
    @include titulo(1.0831rem);
}

body {
    @include texto(1.17rem);

    color: $color_tipografia;
    background-color: $background-color_body;
    line-height: 1.5;
    text-align: justify;
    overflow-x: hidden;
}

.mayus {
    text-transform: uppercase;
}

.botonWhatsApp {
    img {
        width: 60px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 9;
    }
}

a {
    color: $color_links;
    text-decoration: none;
}

.color-margenes-header-footer {
    background-color: $background-color_header-footer;
    padding: 10px 6%;
}