@mixin titulo($size) {
    font-size: $size;
    font-weight: bold;
}

@mixin texto($size) {
    font-family: $tipografia-principal;
    font-size: $size;
    font-weight: normal;
}

@mixin h6-p_font-size($size) {
        h6 {
            font-size: $size;
        }
    
        p {
            font-size: $size;
        }
}