$color_links: inherit;
$color_hover-links: #dc0083;

$tipografia_principal: 'Quicksand', sans-serif;
$tipografia-logo: 'Old Press Original';

$color_tipografia: #444444;
$color_tipografia-navbar: #5c5b5b;

$background-color_header-footer: #f8e4f4;
$background-color_body: white;

$color_amarillo-logo: #FFF047;
$color_amarillo-suave: #fdf383;
$color_azul-logo: #009bde;
$color_azul-suave: rgb(166, 230, 255);

$background-color_boton: #dbf3fd;
$background-color_boton-searchbar-hover: #73d6ff;
$background-color_searchbar: white;
