@import "variables";

@import "estilos-globales";
@import "fuentes";

@import "header";
@import "inicio";
@import "catalogo";
@import "contacto";
@import "nosotros";
@import "preguntas-frecuentes";
@import "footer";
@import "media-queries";