* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #444444;
    background-color: white;
    font-size: 1.17rem;
    line-height: 1.5;
    text-align: justify;
    overflow-x: hidden;
}


.botonWhatsApp img {
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.color-margenes-header-footer {
    background-color: #f8e4f4;
    padding: 10px 6%;
}

#header {
    /* font-size: 14pt; */
    /* background-color: white; */
    position: sticky;
    top: 0;
    z-index: 9;

    /* FLEX */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-logo img {
    max-height: 100%;
    height: 50px;
}

#buscador-y-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px;
}

#buscador-y-carrito input {
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
}

#buscador-y-carrito img {
    height: 1.65em;
}


/* 
nav{
    width: 4%;
}

.menu-nav{
    display: flex;
    justify-content: space-evenly;
} */

.item-menu-nav {
    text-align: center;
    margin: 0 0.5vw;
}

.nav-item {
    text-align: center;
}

.navbar ul li a:hover {
    color: #dc0083;
    opacity: 100%;
}

.navbar ul li:hover .submenu {
    display: flex;
    flex-wrap: wrap;
    background-color: #f8e4f4;
    border-radius: 5px;
}

#navbarOffcanvasLg {
    background-color: #f8e4f4;
}

@font-face {
    font-family: Old Press Original;
    src: url("../fonts/old-press-original.otf");
}

.offcanvas-title {
    font-family: Old Press Original;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: auto;
}

.offcanvas-body {
    margin: auto;
}

.submenu {
    position: absolute;
    display: none;
}

.submenu-categoria {
    display: block;
    text-align: left;
    /* margin: 15px 15px 15px 0; */
}

.submenu-lista {
    display: flex;
    flex-direction: column;
    line-height: 2;
    font-size: 1rem;
    padding: 15px 32px;
}

.submenu-lista h4 {
    font-size: 1.17rem;
    font-weight: bold;
}

/* MAIN */

#banner {
    width: 100%;
    height: 592px;
}

.menu-catalogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 1vw; */
}

.boton-catalogo {
    flex: 1
}


#boton-filtros button {
    display: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px 9px;
}

#boton-filtros img {
    height: 1.0rem;
    margin-right: 6px;
}


#boton-ordenar {
    display: flex;
    justify-content: flex-end;
}

.boton-padding {
    padding: 3px 8px;
}

.menu-catalogo-font {
    font-size: 1.0831rem;
    font-family: 'Quicksand', sans-serif;
}

#menu-paginas-superior {
    flex: 1
}

.menu-paginas {
    display: flex;
    justify-content: center;
}

.menu-paginas li {
    display: inline-block;
    text-align: center;
    margin: 0 10px 0 0;

}

#catalogo {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px 6%;
}

#catalogo section {
    width: 85vw;
}

.articulo-catalogo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid black;
    background-color: white;
    /* width: 300px */

    transition: all 0.4s;
}

.articulo-catalogo:hover {
    transform: scale(1.1);
}

.productos-catalogo {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    margin: 1.5vw 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
}

.articulo-catalogo img {
    max-width: 100%;
}

.articulo-descripcion {
    padding: 5px;
    text-align: center;
    font-size: 14pt;
}

.articulo-comprar {
    display: none;
}

.filtros-catalogo {
    font-size: 12pt;
    width: 15vw;
    margin-right: 20px;
    text-align: left;
    line-height: 1.8;
}

.filtros-tipos {
    margin: 15px 0;
}

.filtros-tipos ul {
    margin-left: 10px;
}

.titulo-categoria {
    margin: auto;
    text-align: center;
}


/* PRODUCTOS DESTACADOS (Lo nuevo, Lo más vendido) */

.destacados-inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 3%;
    border: 2px solid black;
    border-radius: 5px;
}


.productos-destacados {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    flex: 4;
    margin: 2vw;
}

#lo-nuevo {
    background-color: #73d6ff;
}

#lo-mas-vendido {
    background-color: #FFF047;
}

.descripcion-destacados {
    display: inline-block;
    text-align: center;
    flex: 1;
    margin: 2vw;
}

.descripcion-destacados h2 {
    font-size: 30pt;
}

.descripcion-destacados p {
    font-size: 17pt;
}


.tematicas-inicio {
    margin: 0 3%;
}

#tematicas-destacadas {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    margin: 2vw 0;
}

#tematicas-destacadas img {
    width: 100%;
    height: 100%;
    border: 1px black solid;
}

#ver-mas {
    text-align: center;
    line-height: 3;
}

#ver-mas a {
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    background-color: #dbf3fd;
}

.pregunta-respuesta {
    margin: 20px 10px;
}

.pregunta-respuesta p {
    font-size: 13pt;
}

.pregunta-respuesta a {
    color: blue;
    text-decoration: underline;
}

.nosotros-texto {
    margin-bottom: 50px;
}

.nosotros-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: inherit;
}

.nosotros-imagenes img {
    height: 430px;
    margin: 15px 0;

}


/* FOOTER */

footer {
    font-size: 1rem;
    line-height: 1.7;
    margin-top: 50px;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}


#footer-contenido-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -7.5px;
}

footer li {
    list-style-type: none;
}

#footer-logo {
    margin-right: 20px;
    height: 280px;
    aspect-ratio: 1180/957;
}

#footer-logo img {
    max-height: 100%;
}

.footer-subseccion {
    margin: 0 20px 10px 20px;
    padding-top: 7.5px;
    padding-bottom: 15px;
}

.footer-subseccion h3 {
    margin-bottom: 10px;
}

.footer-subseccion img {
    height: 12.3pt;
}

.footer-subseccion li a:hover {
    color: #dc0083;
}

#newsletter {
    border: 2px solid black;
    padding: 7.5px 15px 15px 15px;
    margin-left: 20px;
    align-self: flex-start;
}

#newsletter-form input {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    padding: 5px;
    margin-top: 5px;
}

#newsletter-mail {
    width: 75%;
}


/* FORMULARIO DE CONTACTO */

.margenes {
    /* border: 10px black solid; */
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 15px;
}

#contacto-contenido {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contacto-contenido section {
    margin-bottom: 30px;
}

.datos-formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contacto-seccionA {
    flex: 1;
    margin-right: 2vw;
}

#contacto-seccionB {
    flex: 1;
}

#contacto-seccionB a {
    white-space: nowrap;
}

.item-formulario {
    font-size: 14pt;
    padding: 7px;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
}

.botones-formulario input {
    font-size: 15pt;
    padding: 3px;
    margin-right: 5px;
}

.espacio-dsps-de-parrafo {
    margin-bottom: 8px;
}

.contacto-tamano-iconos img {
    width: 24px;
    margin-right: 10px;
}

.mayor-interlineado {
    line-height: 2;
}

.center-text {
    text-align: center;
}



/* MEDIA QUERIES */

@media (max-width: 1280px) {
    #footer-contenido-principal {
        justify-content: space-between;
        /* align-items: flex-start; */
    }

    #footer-logo {
        height: 250px;
    }


    #newsletter {
        flex: 1 1 50%;
    }

    .ajuste-flex {
        flex: 1 1 38%;
    }

    #tematicas-destacadas {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1024px) {

    #buscador-y-carrito {
        width: auto;
    }

    .navbar ul li:hover .submenu {
        display: none;
    }

    .productos-catalogo {
        grid-template-columns: repeat(3, 1fr);
    }

    .productos-destacados {
        grid-template-columns: repeat(3, 1fr);
    }

    .menu-catalogo-font {
        font-size: 12pt;
        font-family: 'Quicksand', sans-serif;
    }

    footer {
        flex-direction: column;
    }

    #footer-contenido-principal {
        text-align: center;
        display: block;
    }

    .footer-santa-punk {
        display: none;
    }

    #footer-logo {
        margin-right: 0;
        display: inline-block;
        margin-bottom: 15px;
    }

    .item-menu-nav {
        text-align: left;
    }

}

@media (max-width: 800px) {

    #header-logo img {
        height: 40px;
    }

    .destacados-inicio {
        flex-direction: column;
    }

    .filtros-catalogo {
        display: none;
    }

    #boton-filtros button {
        display: flex;
        align-items: center;
    }

    #boton-ordenar select {
        max-width: 70%;
    }

    #menu-paginas-superior {
        display: none;
    }

    #tematicas-destacadas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo-de-pagina {
        text-align: center;
    }

    #contacto-contenido {
        display: block;
    }

    .item-formulario {
        width: auto;
    }
}

@media (max-width: 600px) {

    .btn{
        padding: 5px;
    }

    .navbar-toggler{
        padding: 5px;
    }

    #header-logo img {
        height: 28px;
    }

    #buscador-y-carrito img {
        height: 22px;
    }

    .productos-catalogo {
        grid-template-columns: repeat(2, 1fr);
    }

    .productos-destacados {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .productos-catalogo {
        display: block;
    }

    .productos-destacados {
        display: block;
        margin: 0 15px;
    }

    .articulo-catalogo {
        margin-bottom: 15px;
    }
}

@media (max-width: 350px) {

    #footer-logo {
        height: 200px;
        margin-bottom: 10px;
    }
}